p {
    width: 80%;
}

a {
    font-size: 1.5em;
}

/**
* {
    border: 2px solid blue;
}
/**/

h1 {
    text-align: center;
    color: rgb(139, 139, 169);
    margin-left: 20px;
}


body {
    text-align: center;
    background-color: rgb(255, 192, 234);
}


nav, footer {
    text-align: center;
}

img {
    width: 40%;
    display: block;
    margin: 0 auto;
}

main div {
    max-width: 40%;
    text-align: justify;
    margin: 0 auto;
}

main p {
    width: 70%;
    margin: 5px auto;
    text-align: left;
}

/**

nav, footer {
    background-color: steelblue;
    color: white; 
    padding: 10px;
}

/**/

footer p {
    font-size: 20px;
    margin: 20px auto;
}

a:hover {
    background-color: black;
    color: sd9c2a3;
}

/**

<body>
    <div id="content">
            margin: 0 auto;
        <header>
            max-width: 1600px;
            margin: 0 auto;
        nav a
            text-align: center;
        #hero-msg h1, #hero-msg h4
            text-align: center;.button-box
        main section
            text-align: center;
    . . .
        </footer>
    </div>
</body>

**/