@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Mukta:wght@400,700&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #003049   ;
    --secondary-color: #f77f00 ;
    --accent1-color: #eae2b7;
    --accent2-color: #d62828;
    
    /* change the values below to your chosen font(s) */
    --heading-font: Merriweather, sans;
    --paragraph-font: Mukta, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #003049;  /* headlines on a white background */ 
    --headline-color-on-color: #eae2b7; /* headlines on a colored background */ 
    --paragraph-color-on-white:  #003049; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #eae2b7; /* paragraph text on a colored background */ 
    --paragraph-background-color: #003049;
    --nav-link-color: #fff;
    --nav-background-color: #003049;
    --nav-hover-link-color:  #003049;
    --nav-hover-background-color: #eae2b7;

    --header-height: 250px;
  }
  
.content {
    font-family: Mukta, Helvetica, sans-serif;
    color: var(--primary-color)
}
  .content-grid  {
    display: grid;
    grid-template-rows: var(--header-height) 1fr 30px;
    grid-template-columns: 1fr;
  }
  .header {
    grid-row: 1;
    grid-column: 1;
    
  }

  .header-grid {
    max-height: var(--header-height);
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: var(--header-height) 1fr;
    
    background-color: #eae2b7
    

  }

  .main {
    grid-row: 2;
    grid-column: 1;
  }

  .main-grid {
    display:grid;
    
    grid-template-rows: 500px  500px 500px 500px 1fr 50px;
    grid-template-columns: 1fr;
   
  }

  .car-card {
    grid-row: 1;
    grid-column: 1; 
   
    padding:0;
  }

  .pickup-card {
    grid-row: 2;
    grid-column: 1; 
  }

  .suv-card {
    grid-row: 3;
    grid-column: 1; 

  }

  .van-card {
    grid-row: 4;
    grid-column: 1; 

  }

  .card-grid {
    display:grid;
    grid-template-rows: 3rem 2rem 1fr;
    grid-template-columns: 500px 1fr;
    margin: 0;
    padding-right: 10rem;
    padding-left: 3rem;
   
  }
   .card-img {
    grid-row: 1/4;
    grid-column: 1; 
    width: 100%;
    height: 100%;
   }

   .card-headline {
    grid-row: 1;
    grid-column: 2; 
   }

   .card-subheadline {
    grid-row: 2;
    grid-column: 2; 
   }
   .card-text {
    grid-row: 3;
    grid-column: 2; 
   }


.logo {
  grid-row: 1/6;
  grid-column: 1;
  height:100%;
  width:150%;
  
}

.headline {
  grid-row: 1;
  grid-column: 2;
  padding-left: 15%;
}

.sub-headline {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
}

.menu  {
  grid-row: 4;
  grid-column: 2;

}

.menu-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;

}

.home-option {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}

.george {
  grid-row:5;
  grid-column: 1;
  padding-right: 6rem;
}
.george p {
  text-align: justify;
  padding-left: 6rem;
  }

.george-img {
  float:right;
  padding: 5px;
  height:  250px;
  


}
  


.registration-option {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}



.search-option {
  grid-row: 1;
  grid-column: 3;
  text-align: center;


}


.grid-template
.cars  {
  
  width: 20%;

}

/*.truck  {
  
}

.car {
  
}*/


form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 600px;
    /* Form outline */
    padding: 1em;
    border: 3px solid var(--primary-color);
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 140px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 450px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 2px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
 
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
   
    text-align:center;
    margin: 5% 80% 1%;
    
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family:  Merriweather, serif;
}



.italics {
  font-style: italic;
}

.bolded {
  font-weight: 700;
  /* 100 - Very thin
  400 - Normal TExt
  700 - Bold 
  900 - extra heavy bold*/  
}


footer {
    
  background-color: #f77f00;
  padding: 25px 50px;
  margin-top: 200px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}




footer a  {
  color: #0b4f6c;
  text-decoration: none;
}

footer a:hover {
  color: #0b4f6c;
  text-decoration: underline;
}

footer .social img  {
  padding-top: 15px;
