@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mukta:wght@400;700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #003049;
  --secondary-color: #f77f00;
  --accent1-color: #eae2b7;
  --accent2-color: #d62828;

  /* change the values below to your chosen font(s) */
  --heading-font: Merriweather, sans;
  --paragraph-font: Mukta, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #003049;
  /* headlines on a white background */
  --headline-color-on-color: #eae2b7;
  /* headlines on a colored background */
  --paragraph-color-on-white: #003049;
  /* paragraph text on a white background */
  --paragraph-color-on-color: #eae2b7;
  /* paragraph text on a colored background */
  --paragraph-background-color: #003049;
  --nav-link-color: #fff;
  --nav-background-color: #003049;
  --nav-hover-link-color: #003049;
  --nav-hover-background-color: #eae2b7;

  --header-height: 250px;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.content {
  font-family: Mukta, Helvetica, sans-serif;
  color: var(--primary-color);
  max-width: 1600px;
  margin: 0 auto;
}

.content-grid {
  display: grid;
  grid-template-rows: var(--header-height) 1fr 30px;
  grid-template-columns: 1fr;
}

.header {
  grid-row: 1;
  grid-column: 1;

}



.header-grid {
  max-height: var(--header-height);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: var(--header-height) 1fr;

  background-color: #eae2b7
}

nav a {
  color: var(--accent2-color);
  padding: 1em;
}
nav a:hover {
  background-color: var(--accent2-color);
  color:var(--accent1-color);

}
.main {
  grid-row: 2;
  grid-column: 1;

}

.main-grid {
  display: grid;

  grid-template-rows: 500px 500px 500px 500px 1fr 50px;
  grid-template-columns: 1fr;

}

.car-card {
  grid-row: 1;
  grid-column: 1;

  padding: 0;
}

.pickup-card {
  grid-row: 2;
  grid-column: 1;
}

.cube-card {
  grid-row: 2;
  grid-column: 1;
}

.suv-card {
  grid-row: 3;
  grid-column: 1;

}

.van-card {
  grid-row: 4;
  grid-column: 1;

}

.card-grid {
  display: grid;

  grid-template-columns: 500px 1fr;
  margin: 0;
  padding-right: 10rem;
  padding-left: 3rem;

}

.card-grid2 {
  display: grid;

  grid-template-columns: 300px 1fr 300px;
  margin: 0;
  padding-right: 10rem;
  padding-left: 3rem;

}

.card-img {
  grid-row: 1/4;
  grid-column: 1;
  width: 100%;

}

.card-headline {
  grid-row: 1;
  grid-column: 2;
}

.card-subheadline {
  grid-row: 2;
  grid-column: 2;
}

.card-text {
  grid-row: 3;
  grid-column: 2;
}
.red {
  color: var(--accent2-color);
  font-weight: 700;
  text-decoration: underline;
}

.logo {
  grid-row: 1/6;
  grid-column: 1;
  width: 100%;

}

.headline {
  grid-row: 1;
  grid-column: 1/11;
  justify-self: center;
}


.sub-headline {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  text-align: center;
}
.sub-headline h1 {
  color: #800000;
}
.menu {
  grid-row: 4;
  grid-column: 2;

}

.menu-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;

}

.home-option {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}

.george {
  grid-row: 5;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
}

.george p {
  grid-column: 1/11;
  margin: 0;
  padding: 0;
}

.george-img {
  grid-column: 11/13;
  grid-row: 2/6;
  width: 100%;
}



.registration-option {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  align-self: center;
  color: red;
  
}




.search-option {
  grid-row: 1;
  grid-column: 3;
  text-align: center;


}


.grid-template .cars {

  width: 20%;

}

/*.truck  {
  
}

.car {
  
}*/


form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 700px;
  /* Form outline */
  padding: 1em;
  border: 3px solid var(--primary-color);
  border-radius: 1em;
  background-color: #eae2b7;
}

top:;

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li+li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 140px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 450px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 2px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}



button {
  /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */

  text-align: center;
  margin: 5% 80% 1%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather, serif;
}

.h6 {
  text-align: right;
}



.italics {
  font-style: italic;
}

.bolded {
  font-weight: 700;
  /* 100 - Very thin
  400 - Normal TExt
  700 - Bold 
  900 - extra heavy bold*/
}


footer {

  background-color: #f77f00;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}




footer a {
  color: #0b4f6c;
  text-decoration: none;
}

footer a:hover {
  color: #0b4f6c;
  text-decoration: underline;
}

.btn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  border: 6px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
}

.btn2 {
  display: inline-block;
  border: 6px solid black;
  background-color: white;
  color: black;
  padding: 7px 14px;
  font-size: 30px;
  cursor: pointer;

}


.trade {

  display: flex;
  align-content: center;
  justify-items: center;

}

/* Green */
.see {

  border-color: black;
  color: white;
  height: 150px;
  width: 15%;
  background: black;
  border-radius: 50%;
  text-align: center;
}

.see:hover {
  background-color: purple;
  color: white;
}




/* Orange */
.another {
  border-color: black;
  color: white;
  height: 150px;
  width: 15%;
  background: black;
  border-radius: 50%;
  text-align: center;

}

.another:hover {
  background: blue;
  color: white;
}

/* Red */
.list {
  border-color: black;
  color: white;
  height: 150px;
  width: 15%;
  background: black;
  border-radius: 50%;
  text-align: center;
}

.list:hover {
  background: #f44336;
  color: white;
}

.btn2-row {
  justify-self: center;
}
/* Gray */
.trade {
  border-color: black;
  color: white;
  height: 150px;
  background: black;
  border-radius: 50%;
  text-align: center;
}

.trade:hover {
  background: green;
  color: white;
}

.btn-work {
  text-align: left;

  box-sizing: border-box;
}

table,
th,
td {
  border: 1px solid LIGHT grey;
  border-collapse: collapse;
}