* {
    box-sizing: border-box;
  }
  .grid1 {
    grid-column-start: 1;
    grid-column-end: 12;
    
  }
  
  .grid1 h1 {
    
  }
  
  .grid2 {
    grid-column-start: 1;
    grid-column-end: 12;
    
  }
  .grid2 h2 {
    
  }
  .grid3 {
    grid-column-start: 1;
    grid-column-end: 12;
    
  }
  
  .grid3 h3 {
    
  }
  
  .grid4 {
    grid-column-start: 1;
    grid-column-end: 12;
    
  }
  
  .grid4 h2 {
    
  }
  
  section {
    
  }
  
  section h2 {
    
  }
  
  form {
    
  }
  
  
  legend {
    font-size: 20px;
    font-weight: 700;
  }
  
  fieldset > div {
    
  }
  
  label {
    
  }
  
  input {
    
  }
  
  button {
    
  }
  
  section > div {
    
  }